In [2]:
!git clone https://github.com/SIT-COMP-1210/Module2-Breakout-leulakassahun.git

fatal: destination path 'Module2-Breakout-leulakassahun' already exists and is not an empty directory.

**Data Types Exercise**

What is the type of 2?

In [3]:
type(2)

int

What is the type of 2.0?

In [4]:
type(2.0)

float

What is the resulting type of adding 2 and 2?

In [5]:
print(2+2)

4

What is the type of ‘Programming’ ?

In [7]:
type('Programming')

str

What is the resulting output when you add ‘Computer’ and ‘Programming’?

In [8]:
print('Computer'+'Programming')

ComputerProgramming

What is the resulting output when you add ‘Programming’ and ‘Computer’?

In [9]:
print('Programming'+'Computer')

ProgrammingComputer

Is there a difference between single quotes (‘ ‘) and double quotes
(“ “)?

In [ ]:
#No, but we use double quotes for better readablity

What happens when you add 10 and  ‘10’? Why?

In [11]:
#It gives us an error message, because we cannot concatenate str with int

What is the result of ‘Ethiopia’ * 3 ?

In [12]:
print('Ethiopia'*3)

EthiopiaEthiopiaEthiopia

What is the result of 10.0 * 7?

In [13]:
print(10.0*7)

70.0

Are ‘Programming’ and ‘programming’ equivalent?

In [17]:
print('Programming' == 'programming')

#they are not equivalent because python is case sensitive

False

Are 150 and ‘150’ equivalent?

In [18]:
print(150 == '150')

#they are not equivalent because 150 is an integer while '150' is a string

False

Fix the following code so it prints ‘I am 18 years old’:
        print(‘I am’ + 18 + ‘years old’)

In [21]:
print("'I am + 18 + years old'")

'I am + 18 + years old'

Translate these statements into Pythonic expressions and  evaluate the Boolean:


*   The sum of 5 and 5 is less than 10
*   The value of 10//2 is equal to 2 + 3


*   The sum of 1, 5, 2, 4 is greater than 15
*   157 is even

*   The sum of 5 squared and 12 squared is equal to 169

In [32]:
#The sum of 5 and 5 is less than 10
a = 5+5
print(a < 10)

#The value of 10//2 is equal to 2 + 3
a = 10//2
b = 2+3
print(a == b)

#The sum of 1, 5, 2, 4 is greater than 15

a = 1+5+2+4
print(a >= 15)

#157 is even

a = 157
print(a%2 == 0)

#The sum of 5 squared and 12 squared is equal to 169

a = 5**2
b = 12**2
print(a+b == 169)

False
True
False
False
True

Write code to produce

*  ‘Selam4’
*  ‘SelamSelamSelamSelam’

You may only write ‘Selam’ once and 4 once for each part.

In [40]:
#‘Selam4’
print("'Selam4'")

#‘SelamSelamSelamSelam’
print('Selam'*4)

'Selam4'
SelamSelamSelamSelam