<a href="https://colab.research.google.com/github/SIT-COMP-1210/module2-breakout-leulakassahun/blob/main/module2_breakout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/SIT-COMP-1210/Module2-Breakout-leulakassahun.git

fatal: destination path 'Module2-Breakout-leulakassahun' already exists and is not an empty directory.



**Data Types and Arithmetic Operators Exercise**

1. What is the type of 2?

In [3]:
type(2)

int

2. What is the type of 2.0?

In [4]:
type(2.0)

float

3. What is the resulting type of adding 2 and 2?

In [5]:
print(2+2)

4

4. What is the type of ‘Programming’ ?

In [6]:
type('Programming')

str

5. What is the resulting output when you add ‘Programming’ and ‘Computer’?

In [7]:
print('Programming'+'Computer')

ProgrammingComputer

6. What is the result of ‘Ethiopia’ * 3 ?

In [8]:
print('Ethiopia'*3)

EthiopiaEthiopiaEthiopia

7. What is the result of 10.0 * 7?

In [9]:
print(10.0*7)

70.0

8. What is stored in result?

In [13]:
result = str(int(2.8))

print(result)

2



9. What is the final value and type of x?

In [16]:
x = int(float(-5))

print(x)
type(x)

-5

int

10. What is stored in expr? What is the order of operations?

In [22]:
expr = "a" + "b" * 2 + "c"

print(expr)

#First it will multiply "b" by 2 and then add "a", "bb" and "c"

abbc

11. What is the final value of value?

In [23]:
value = 100 / 5 // 4 * 3 % 5

print(value)

0.0

12. hat is the value of b? Why does this happen?

In [25]:
b = bool(0)
print(b)

#Because python's boolean works like a logic gate where 1 is True and 0 is False.

False

13. Why are the results numerically the same but types different?

In [27]:
a = 4 * 3
b = 4 * 3.0

print(a)
print(b)

print(type(a))
print(type(b))

#The results are different because python interpret the two as different equation making them different like float and integer

12
12.0
<class 'int'>
<class 'float'>

14. Does calling int() on an int or float() on a float change the value? Why or why not?

In [38]:
x = int(5)
y = float(5.0)

int(x)
float(y)

#No it won't change the value, because calling int() on an int or float() on a float is like calling oneself again and again

5

15. What is the value and type of x?

In [39]:
x = 2 ** 3

print(x)
type(x)

8

int

16. What is the value of y?

In [40]:
y = 4 * 2 ** 2

print(y)

16

17. What is the value of a?

In [41]:
a = 5 - 1 + 4 * 2
print(a)

12

18. What is the value of b?

In [42]:
b = (5 - 1 + 4) * 2
print(b)

16

19. What are the values of b1 and b2? Are they the same? If not, why are they different?

In [45]:
b1 = bool("")
b2 = bool("False")

print(b1)
print(b2)

#b1 is empty which python interprets it as 0, but b2 has string inside it which is interpreted as 1

False
True

20. Is (2 + 3) * 4 an expression or a function?

In [ ]:
# It is an expression, because an expression is made up of values and operators

21. What is the final value of result?

In [46]:
result = str(int(5.9) + 2 ** 2) * 2

print(result)

99